.greating__subtitle {
  margin: 10px 0 0 100px;
  max-width: 400px;
  font-size: 26px;
  line-height: 26px;
  font-weight: normal;
  font-family: 'Great Vibes';
  color: #ececec;
}

@media screen and (max-width: 600px) {
  .greating__subtitle {
    margin: 10px 30px 100px;
    font-size: 22px;
    line-height: 22x;
  }
}