.header__menu-button {
  max-width: 50%;
  border: 2px solid #41856e;
  box-sizing: border-box;
  border-radius: 25px;
  font-size: 20px;
  line-height: 20px;
  color: #41856e;
  text-decoration: none;
  padding: 10px 15px 12px;
  transition: 0.7s;
  margin: 0 0 0 10px;
}

.header__menu-button:hover {
  background-color: #41856e;
  color: rgb(255, 255, 255);
}