.header__adress {
  max-width: 135px;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #41856e;
  transition: .5s;
}

.header__adress:hover {
  text-shadow: 2px 2px 3px rgba(65,133,110,0.9);
}