.header__menu {
  display: none;
}

@media screen and (max-width: 926px) {
  .header__menu {
    width: 320px;
    height: 100vh;
    background: rgba(146, 185, 172, 0.8);
    border-right: 1px solid rgb(156, 192, 148);
    position: fixed;
    top: 0px;
    left: -321px;
    transition: left .5s;
    font-family: 'Linotype Didot', 'Lavanderia', serif;
    display: flex;
    z-index: 3;
  }
}