.uslugi__navig-button {
  position: relative;
  height: 50px;
  margin-bottom: 20px;
  max-width: 450px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, rgba(59, 150, 96, 0.15), transparent);
  box-shadow: 0 15px 35px rgba(0, 0, 0, .2);
  border-radius: 30px;
  color: #3b9660;
  z-index: 1;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  transition: .7s;
  font-size: 20px;
  padding: 0 10px;
}

.uslugi__navig-button:hover {
  letter-spacing: 3px;
}

.uslugi__navig-button::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  width: 30px;
  height: 0px;
  border-radius: 10px;
  transition: .5s;
  filter: blur(10px);
  overflow: hidden;
  background: #3b9660;
  box-shadow: 0 0 5px #3b9660,
  0 0 15px #3b9660;
}

.uslugi__navig-button:hover::before {
  bottom: 0;
  height: 10%;
  width: 90%;
  border-radius: 30px;
  transition-delay: .2s;
}

.uslugi__navig-button::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  width: 30px;
  height: 0px;
  border-radius: 10px;
  transition: .5s;
  filter: blur(10px);
  background: #3b9660;
  box-shadow: 0 0 5px #3b9660,
  0 0 15px #3b9660;
}

.uslugi__navig-button:hover::after {
  top: 0;
  height: 10%;
  width: 90%;
  border-radius: 30px;
  transition-delay: .2s;
}

@media screen and (max-width: 960px) {
  .uslugi__navig-button {
    font-size: 18px;
  }
  .uslugi__navig-button:hover {
    letter-spacing: 1px;
  }
  @media screen and (max-width: 621px) {
    .uslugi__navig-button {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 510px) {
    .uslugi__navig-button {
      font-size: 14px;
    }
  } 
}