@media screen and (max-width: 480px) {
  .description_content {
    font-size: 20px;
    line-height: 20px;
    margin: 10px auto;
  }
  .description_content:not(:last-child) {
    margin: 10px auto 0;
  }
  .advantages_title {
    font-size: 26px;
    line-height: 26px;
    margin: 0 auto 15px;
  }
  .advantages_content {
    font-size: 22px;
    line-height: 22px;
  }
  .header {
    padding: 5px;
  }
    .navigation__item {
    margin: 0 15px 0 0;
  }
  .header__button {
    padding: 7px 10px;
  }
  .services__card {
    min-width: 300px;
    max-width: 600px;
    min-height: 450px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 15px;
    position: relative;
  }
  .services__card-title {
    display: flex;
    width: 250px;
    max-height: 300px;
    flex-wrap: wrap;
    position: absolute;
    top: 275px;
  }
  .navigation__link {
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: rgba(9, 26, 20, 0.5);
  }
}