.popup__new {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: 90%;
  border-radius: 25px;
  background-color: #fff;
  background: url(../file/popupfon.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
}

@media screen and (max-width: 1330px) {
  .popup__new {
    width: 60%;
  }
}

@media screen and (max-width: 1100px) {
  .popup__new {
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .popup__new {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .popup__new {
    width: 90%;
  }
}