.abonement__content {
  font-size: 24px;
  line-height: 24px;
  font-style: italic;
  margin: 10px 0;
}


@media screen and (max-width: 1133px) {
  .abonement__content {
    font-size: 22px;
    line-height: 28px;
  }
  @media screen and (max-width: 926px) {
    .abonement__content {
      font-size: 22px;
      line-height: 28px;
    }
  }
}