.services__winclose {
  width: 95%;
  display: grid;
  grid: 0/repeat(5, 1fr);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  height: 0;
  gap: 30px;
}

@media screen and (max-width: 1330px) {
  .services__winclose {
    grid: 0/repeat(4, 1fr);
  }
  @media screen and (max-width: 1024px) {
    .services__winclose {
      grid: 0/repeat(3, 1fr);
    }
  }
  @media screen and (max-width: 900px) {
    .services__winclose {
      grid: 0/repeat(2, 1fr);
    }
  }
  @media screen and (max-width: 560px) {
    .services__winclose {
      grid: 0/repeat(1, 1fr);
    }
  }
}

