@font-face {
    font-family: 'Lavanderia';
    src: local('Lavanderia Sturdy'), local('Lavanderia-Sturdy'),
        url('Lavanderia-Sturdy.woff2') format('woff2'),
        url('Lavanderia-Sturdy.woff') format('woff'),
        url('Lavanderia-Sturdy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }