@font-face {
    font-family: 'Linotype Didot';
    src: local('Linotype Didot Pro Italic'), local('Linotype-Didot-Pro-Italic'),
        url('DidotLTPro-Italic.woff2') format('woff2'),
        url('DidotLTPro-Italic.woff') format('woff'),
        url('DidotLTPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }