.uslugi__list {
  margin: -5px 0 0 0;
  padding-left: 22px;
  font-size: 20px;
  line-height: 20px;
  font-style: italic;
}

@media screen and (max-width: 1024px) {
  .uslugi__list {
    font-size: 18px;
    line-height: 18px;
  }
  @media screen and (max-width: 926px) {
    .uslugi__list {
      font-size: 22px;
      line-height: 22px;
    }
  }
}