.uslugi__content {
  font-size: 24px;
  line-height: 24px;
  font-style: italic;
  margin: 30px 0 10px;
}

@media screen and (max-width: 1133px) {
  .uslugi__content {
    font-size: 22px;
    line-height: 28px;
  }
  @media screen and (max-width: 926px) {
    .uslugi__content {
      font-size: 22px;
      line-height: 28px;
    }
  }
}