.greeting__title {
  margin: 65px 0 0 100px;
  max-width: 400px;
  font-size: 40px;
  line-height: 40px;
  font-style: italic;
  color: #ececec;
}

@media screen and (max-width: 600px) {
  .greeting__title {
    margin: 65px auto 0;
    font-size: 36px;
    line-height: 36x;
  }
}