.greeting__grad-one {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  background: url(../file/gradient.png) 0 0 repeat-x;
  background-size: contain;
  z-index: 2;
  transform: rotate(180deg);
}