.master__content .master__link {
  position: relative;
  margin-top: 10px;
  padding: 10px 20px;
  border: 2px solid #3b9660;
  color: #3b9660;
  border-radius: 25px;
  font-weight: 500;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: .5s;
}

.master__content .master__link:hover {
  letter-spacing: 0.2em;
  background-color: #3b9660;
  color: rgb(255, 255, 255);
}