.page {
    max-width: 100vw;
    margin: 0 auto;
    font-family: 'Linotype Didot', 'Lavanderia', serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    position: relative;
  }