.abonement__img {
  width: 100%;
  position: relative;
  align-self: start;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

@media screen and (max-width: 1024px) {
  .abonement__img {
    justify-content: center;
  }
}