.description__content {
  font-size: 24px;
  line-height: 24px;
  font-style: italic;
  margin: 0;
  align-self: center;
}

.description__content:last-of-type {
  color: #41856e;
  font-size: 20px;
}

.description__content:last-of-type::before {
  content: open-quote;
}

.description__content:last-of-type::after {
  content: close-quote;
}

@media screen and (max-width: 1024px) {
  .description__content {
    font-size: 18px;
    line-height: 18px;
  }
  @media screen and (max-width: 926px) {
    .description__content {
      font-size: 22px;
      line-height: 22px;
    }
    .description__content:last-of-type {
      color: #41856e;
      text-align: center;
      grid-row: 8/9;
    }
  }
}