.footer__socials {
  width: 30%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 926px) {
  .footer__socials {
    width: 40%;
    margin: 0 auto;
    padding-left: 40px;
  }
  @media screen and (max-width: 700px) {
    .footer__socials {
      padding-left: 0;
    }
  }
  @media screen and (max-width: 600px) {
    .footer__socials {
      width: 60%;
    }
  }
}